<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>COMPANY REGISTER</title>
    <style>
        body {
            text-align: center;
        }
        ul > li {
            line-height: 3rem;
            list-style: none;
        }
        .input1 {
            width: 300px;
            height: 40px;
            background: #f0f0f0;
            border: 1px solid #666;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <h1>COMPANY REGISTER</h1>

    <form name="regForm" action="registerOk" method="post" autocomplete="off">

        <hr>
        <ul>
            <li>
                <input class="input1" type="text" name="position" placeholder="채용 포지션 입력" required>
            </li>
            <li>
                <input class="input1" type="text" name="compensation" placeholder="채용 보상금 입력" required>
            </li>
            <li>
                <input class="input1" type="text" name="content" placeholder="채용 내용 입력" required>
            </li>
            <li>
                <input class="input1" type="text" name="language" placeholder="채용 언어 입력" required>
            </li>
        </ul>
        <hr>
        <input type="submit" value="채용 등록">
        <button onclick="location.href='#'">채용 리스트</button>
    </form>
</body>
</html>
